body {
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
}


h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
}

svg {
  width: 12px;
  height: 12px;
  transition: fill 0.25s, stroke 0.25s;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

